<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>qloduitkupayment</name>
	<displayName><![CDATA[QloApps Duitku Payment]]></displayName>
	<version><![CDATA[4.0.0]]></version>
	<description><![CDATA[This module allows guests to pay using Duitku payment gateway.]]></description>
	<author><![CDATA[Duitku]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>